<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript"
            src="/static/bootstrap/js/jquery-2.2.1.min.js"></script>
    <link rel="stylesheet"
          href="/static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript"
            src="/static/bootstrap/js/bootstrap.min.js"></script>
    <title>封装</title>
</head>
<style type="text/css">
    html,body {
        background-color: white;
        font-family: 微软雅黑;
        background-color: #bbccdd;
    }
    h4{
        margin: 2px;
    }

    table{
        width:100%;
    }

    .td1{
        text-align: right;
        width:150px;
    }

    /*.panel-primary>.panel-heading {
        color: #fff;
        background-color: #63BDE8;
        border-color: #63BDE8;
    }

    .panel-primary {
        border-color: #63BDE8;
    }*/

</style>
<script type="text/javascript">
    $(function() {

        $.post("/localimage/list", function (result) {
            $.each(result, function (index, element) {
                if(element.RepoTags!=null){
                    var optionStr = "<option>" + element.RepoTags[0] + "</option>";
                    $("#images").append(optionStr)
                }
            });
        }, "json");


        $("#commandname").change(function(){
            $("#commandcontent").val("");
        });



    });


    function add() {
            commandname = $("#commandname").val();
            command = $("#commandcontent").val();
        if(command!=null && command!="") {
            $("#commands").val($("#commands").val() + commandname + " " + command + "\n");
            $("#commandcontent").val("");
        }
    }

    function encapsulation() {


        if ($("#imagename").val() == null || $("#imagename").val() == "") {
            alert("名称不能为空");
            return false;
        }
        if ($("#version").val() == null || $("#version").val() == "") {
            alert("版本不能为空");
            return false;
        }
        if ($("#commands").val() == null || $("#commands").val() == "") {
            alert("命令不能为空");
            return false;
        }
        //$('form').submit();
        var form=document.getElementById("uploadform");
        var fd =new FormData(form);

        $.ajax({
            url: "/encapsulation",
            type: 'POST',
            cache: false,
            data: fd,
            processData: false,
            contentType: false,
            dataType: "json",
            beforeSend: function () {
                $("#waitDialogBody").empty();
                var optionStr ="<p>等待中……</p>";
                $("#waitDialogBody").append(optionStr);
                $('#waitDialog').modal('show');

            },
            success: function (data) {
                if (data.Success) {
                    $('#waitDialog').modal('hide');
                    alert("封装成功！");
                    $("#imagename").val("");
                    $("#version").val("");
                    $("#commands").val("");
                } else {
                    alert("封装成功！"+data.Reason);
                }

            }
        });

    }

</script>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>封装</h4></div>
            <form class="form-horizontal" action="/encapsulation" method="post" id="uploadform" enctype="multipart/form-data">
            <table class=" table-hover table-condensed text-center">
                <tr>
                    <td class="td1">
                        <label class="h4">镜像名称：</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="imagename" name="imagename"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1">
                        <label class="h4">版本号：</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="version" name="version"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1">
                        <label class="h4">基础镜像：</label>
                    </td>
                    <td>
                        <select id="images" class="form-control" name="baseimage">
                        </select>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="td1">
                        <label class="h4">软件：</label>
                    </td>
                    <td>
                        <input type="file" class="form-control" name="software"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1">
                        <select id="commandname" class="form-control">
                            <option>RUN</option>
                            <option>ENV</option>
                            <option>CMD</option>
                            <option>ADD</option>
                            <option>COPY</option>
                            <option>EXPOSE</option>
                            <option>WORKDIR</option>
                            <option>ENTRYPOINT</option>
                            <option>USER</option>
                            <option>VOLUME</option>
                        </select>
                    </td>
                    <td>

                        <input type="text"  id="commandcontent"  class="form-control" />

                    </td>
                    <td width="50px;">
                        <button type="button" class=" btn btn-primary" id="commandadd" onclick="add()">添加</button>
                    </td>
                </tr>
                <tr>
                    <td class="td1">
                        <!--<label class="h4">执行命令：</label>-->
                    </td>
                    <td>
                        <textarea  class="form-control" id="commands" name="commands" style="height: 200px;"></textarea>
                    </td>
                    <td></td>
                </tr>


                <tr>
                    <td>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="encapsulation()">提交</button>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            </form>
    </div>
    </div>
</div>
<div class="modal fade " tabindex="-1" role="dialog" id="waitDialog">
    <div class="modal-dialog modal-sm" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">系统提示</h4>
            </div>
            <div class="modal-body" id="waitDialogBody">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
</body>
</html>