<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript"
            src="/static/bootstrap/js/jquery-2.2.1.min.js"></script>
    <link rel="stylesheet"
          href="/static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript"
            src="/static/bootstrap/js/bootstrap.min.js"></script>
    <title>天气</title>
</head>
<style type="text/css">
    html,body {
        background-color: white;
        font-family: 微软雅黑;
    }
    h2{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    table{
        width:100%;
    }

</style>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 text-center">
            <h2>仿真资源镜像封装</h2>
            <form action="/upload" method="post"  enctype="multipart/form-data">
            <table class="text-center">
                <tr>
                    <td>
                        <label class="h4">镜像名称：</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="imagename"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="h4">版本号：</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="version"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="h4">软件：</label>
                    </td>
                    <td>
                        <input type="file" class="form-control" name="software"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="h4">基础镜像：</label>
                    </td>
                    <td>
                        <select class="form-control" name="baseimage">
                            <option value="Ubuntu">Ubuntu</option>
                        </select>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">上传</button>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>