<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript"
            src="/static/bootstrap/js/jquery-2.2.1.min.js"></script>
    <link rel="stylesheet"
          href="/static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript"
            src="/static/bootstrap/js/bootstrap.min.js"></script>
    <title>封装</title>
</head>
<style type="text/css">
    html,body {
        background-color: white;
        font-family: 微软雅黑;
    }
    h4{
        margin: 2px;
    }

    table{
        width:100%;
    }

    .td1{
        text-align: right;
        width:150px;
    }

</style>
<script type="text/javascript">
    $(function() {

        $.post("/localimage/list", function (result) {
            $.each(result, function (index, element) {
                var optionStr = "<option>" + element.RepoTags[0] + "</option>";
                $("#images").append(optionStr)
            });
        }, "json");

    });


</script>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>封装</h4></div>
            <form action="/upload" method="post"  enctype="multipart/form-data">
            <table class=" table-hover table-condensed text-center">
                <tr>
                    <td class="td1">
                        <label class="h4">镜像名称：</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="imagename"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1">
                        <label class="h4">版本号：</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="version"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1">
                        <label class="h4">软件：</label>
                    </td>
                    <td>
                        <input type="file" class="form-control" name="software"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1">
                        <label class="h4">执行命令：</label>
                    </td>
                    <td>
                        <input type="text"  class="form-control" name="run"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1">
                        <label class="h4">环境变量：</label>
                    </td>
                    <td>
                        <input type="text"  class="form-control" name="env"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1">
                        <label class="h4">启动命令：</label>
                    </td>
                    <td>
                        <input type="text"  class="form-control" name="command"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1">
                        <label class="h4">基础镜像：</label>
                    </td>
                    <td>
                        <select id="images" class="form-control" name="baseimage">
                        </select>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">上传</button>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            </form>
    </div>
    </div>
</div>
</body>
</html>