<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript"
            src="/static/bootstrap/js/jquery-2.2.1.min.js"></script>
    <link rel="stylesheet"
          href="/static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript"
            src="/static/bootstrap/js/bootstrap.min.js"></script>
    <title>封装</title>
</head>
<style type="text/css">
    html,body {
        background-color: white;
        font-family: 微软雅黑;
    }
    h4{
        margin: 0px;
    }

    table{
        width:100%;
    }

    .td1{
        text-align: right;
        width:100px;
    }

</style>
<script type="text/javascript">
</script>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading"><h4>镜像仓库</h4></div>
            <form action="/upload" method="post"  enctype="multipart/form-data">
            <table class=" table-hover table-condensed text-center">
                <tr>
                    <td class="td1">
                        <label class="h4">IP地址：</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="ipaddr" value="{{ .registry.Ipaddr}}"/>
                    </td>
                    <td class="td1">
                        <label class="h4">端口：</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="port" value="{{ .registry.Port}}"/>
                    </td>
                    <td class="td1">
                        <label class="h4">版本：</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="port" value="{{ .registry.Version}}"/>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </td>
                </tr>
            </table>
            </form>
    </div>
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Kubernetes</h4></div>
            <form action="/upload" method="post"  enctype="multipart/form-data">
                <table class=" table-hover table-condensed text-center">
                    <tr>
                        <td class="td1">
                            <label class="h4">IP地址：</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="ipaddr" value="{{ .k8sui.Ipaddr}}"/>
                        </td>
                        <td class="td1">
                            <label class="h4">端口：</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="port" value="{{ .k8sui.Port}}"/>
                        </td>
                        <td class="td1">
                            <label class="h4">路径：</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="port" value="{{ .k8sui.Route}}"/>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">确定</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</div>
</body>
</html>