<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript"
            src="/static/bootstrap/js/jquery-2.2.1.min.js"></script>
    <link rel="stylesheet"
          href="/static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript"
            src="/static/bootstrap/js/bootstrap.min.js"></script>
    <title>封装</title>
</head>
<style type="text/css">
    html,body {
        background-color: white;
        font-family: 微软雅黑;
        width: 100%;
        background-color: #bbccdd;
    }

    h4{
        margin: 2px;
    }

    table{
        width:100%;
        font-family: 微软雅黑;
        font-size:16px;
    }
    .td1{
        text-align: right;
        width:100px;
    }
    .td2{
        vertical-align:middle;
    }

</style>
<script type="text/javascript">
    var itemindex=-1;
    var items;
    var currentpage=1;
    var pagerow=10;
    var url;
    var map;
    $(function() {
        $.extend({
            StandardPost:function(url,args){
                var form = $("#form"),
                    input;
                form.attr({"action":url});
                $.each(args,function(key,value){
                    input = $("<input type='hidden'>");
                    input.attr({"name":key});
                    input.val(value);
                    form.append(input);
                });
                form.submit();
            }
        });
        list();
        $("#pageadd").click(function () {
            if(currentpage*pagerow<items.length){
                currentpage++;
                $("#pagenumber").text(currentpage);
                show();
            }
        });

        $("#pagesub").click(function () {
            if(currentpage>1){
                currentpage--;
                $("#pagenumber").text(currentpage);
                show();
            }
        });

    });


    function list() {
        $.post("/simulation/listtask", function (result) {
            if(result==null){
                items=[];
            }else {
                items = result;
            }
            firstList();
        }, "json");
    }

    function firstList() {
        var totalpage=Math.ceil(items.length/pagerow);
        $("#totalpage").text("共"+totalpage+"页");
        show();

    }

    function show() {
        var i=(currentpage-1)*pagerow;
        var max=i+pagerow;
        $("#tablebody").empty();
        for(;i<max;i++){
            var number=i+1;
            var optionStr ="<tr>" +
                "<th scope='row'>"+number+"</th>" +
                "<td>"+items[i].Name+"</td>" +
                "<td>"+items[i].Time+"</td>" +
                "<td>"+items[i].Members.length+"</td>" +
                "<td style='width:150px;'>" +
            "<button  class='btn btn-danger' onclick='preRemove("+i+")'><span class='glyphicon glyphicon-trash'></span></button>"+
            "<button  class='btn btn-info' onclick='preUpload("+i+")' style='margin-left: 5px;'><span class='glyphicon glyphicon-file'></span></button>"+
            "<button  class='btn btn-info' style='margin-left: 5px;' onclick='enter("+i+")'><span class='glyphicon glyphicon-chevron-right'></span></button>" +
                "</tr>";
            $("#tablebody").append(optionStr);
        }
    }




    function addTask(){
        $('#addDialog').modal('show');
    }

    function addexecute() {
        $.post("/simulation/addtask", {name:$("#name").val()}, function (result) {
            if(result.Success){
                $("#name").val("");
                $('#addDialog').modal('hide');
                list();
            }else{
                alert("添加失败！"+result.Reason)
            }
        });
    }


    function enter(index){
        $.StandardPost('/simulation/taskview',{namespace:items[index].Namespace,name:items[index].Name});
    }

    function preRemove(index){
        itemindex=index;
        $("#dialogBody").empty();
        var optionStr ="<p>确定要将<font color='red'>"+items[itemindex].Name+"</font>删除吗?</p>";
        $("#dialogBody").append(optionStr);
        $('#dialog').modal('show');
        url="/simulation/removetask";
        map={
            namespace : items[itemindex].Namespace,
            name : items[itemindex].Name
        };
    }

    function preUpload(index) {
        $('#fileDialog').modal('show');
        itemindex=index;
    }

    function uploadFile(){
        var formData=new FormData($('#fileForm')[0]);
        formData.append("namespace", items[itemindex].Namespace);
        formData.append("name", items[itemindex].Name);
        $.ajax({
            url: "/simulation/uploadfile",
            type: 'POST',
            cache: false,
            data:formData,
            processData: false,
            contentType: false,
            dataType:"json",
            beforeSend: function(){

            },
            success : function(data) {
                if(data.Success){
                    $('#fileDialog').modal('hide');
                }else{
                    alert("上传失败"+data.Reason);
                }

            }
        });
    }

    function execute(){
        $.post(url,map, function (result){
            if(result.Success){
                $('#dialog').modal('hide');
            }else{
                alert("失败"+result.Reason);
            }
            list();
        });
    }

</script>
<body>
<div style="width: 100%;padding:5px;">
<button type="button" onclick="addTask()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>创建</button>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>仿真任务</h4> </div>
            <table class="table" id="tasks">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>任务名称</th>
                    <th>创建时间</th>
                    <th>成员数量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tablebody">

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="footer">
    <nav aria-label="...">
        <ul class="pagination" style="margin: 0px;">
            <li >
                <span>
                    <span id="pagesub" aria-hidden="true">上一页</span>
                </span>
            </li>
            <li>
                <span id="pagenumber">1 <span class="sr-only">(current)</span></span>
            </li>

            <li>
                <span>
                    <span id="pageadd" aria-hidden="true">下一页</span>
                </span>
            </li>
            <li>
                <span id="totalpage">1 </span>
            </li>
        </ul>
    </nav>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统提示</h4>
            </div>
            <div class="modal-body" id="dialogBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="execute()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="addDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">创建</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <table class=" table-hover table-condensed text-center">
                        <tr>
                            <td class="td1">
                                <label class="h4">任务名称：</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="name" name="name" placeholder="字母数字组合"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addexecute()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="fileDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">上传文件</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" enctype="multipart/form-data" id="fileForm">
                    <table class=" table-hover table-condensed text-center">
                        <tr>
                            <td class="td1">
                                <label class="h4">fed文件：</label>
                            </td>
                            <td>
                                <input type="file" class="form-control" id="file" name="fedfile" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="uploadFile()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<form method='post' style="display: none" id="form"></form>



</body>
</html>